# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
dist
storybook-static
build-storybook.log
node_modules
.pnp
.pnp.js
.npmrc

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# turbo
.turbo

#vscode change
.vscode

# certs
certs

#bundling data file
bundlingData.csv

# frontend-dev-tools data
dev-tools-data.json
FDT

# report files
coverage-report.json

# compile cache
node-compile-cache

# Deploy configuration
deploy.config.mjs
frontend-deployments.json
frontend-deployments.log

*storybook.log
